
/* Finalna plava tema za ERPNext */
/* Works on Chrome, Edge, and Safari */

:root {
    --background-color: #004080;
    --primary-color: #003366;
    --secondary-color: #7574ff;
    --white-color: #ffffff;
    --black-color: #000000;
    --gray-color: #888888;

    --hover-color: rgba(0, 51, 102, 0.15);
    --input-focus-bg: rgba(0, 51, 102, 0.14);
    --primary-hover: rgba(0, 51, 102, 0.93);

    --page-head-height: 50px;
    --navbar-height: 50px;
}

*::-webkit-scrollbar {
    width: 6px;
}
*::-webkit-scrollbar-track {
    background: var(--scroll-bg);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
    border-radius: 20px;
}
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-color) var(--scroll-bg);
}
.awesomplete .input-with-feedback,
.form-control,
.comment-box .comment-input-container .ql-editor,
.duration-picker .duration-input {
    border: 1px solid var(--border-color);
}
.search-bar .awesomplete input {
    background-color: var(--bg-color);
}
.modal-backdrop {
    background-color: #2c436b !important;
}
.widget .widget-head .widget-title,
.comment-box .comment-input-header,
.form-dashboard-section .section-head,
.form-section .section-head,
.head-title {
    font-size: var(--text-base);
    font-weight: 600;
}
.control-label {
    font-weight: 500;
}
[data-theme="dark"] {
    --bg-color: var(--gray-900);
    --disabled-control-bg: var(--gray-900);
    --border-color: #1c2126;
    --margin-lg : 15px;
    --text-bold: 600;
    --scroll-bg: #161a1f;
    --scroll-color: #1c2126;
}
[data-theme="light"] {
    --bg-color: #f2f5fa;
    --text-bold: 600;
    --control-bg : #fff;
    --control-bg-on-gray: #d4dcea;
    --disabled-control-bg: #f2f5fa;
    --heading-color: #333;
    --border-color: #e3e8f1;
    --avatar-frame-bg: #dde2ea;
    --margin-lg: 15px;
    --sidebar-select-color: #d4dcea;
    --awesomplete-hover-bg: #d4dcea;
    --scroll-bg: #eef1f5;
    --scroll-color: #d9dfe6;
}

/* Glavni elementi */
.btn-primary {
    color: #fff !important;
    background-color: var(--primary-color) !important;
    border-radius: 0 !important;
}
.btn-primary:hover {
    background-color: var(--primary-hover) !important;
}
.btn-primary:active,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:focus {
    box-shadow: none !important;
}
.page-head,
.page-head .page-head-content {
    height: var(--page-head-height);
    top: var(--page-head-height);
}

/* Navigacija */
.navbar,
.navbar-expand {
    background: var(--background-color) !important;
    height: var(--navbar-height);
}
#navbar-breadcrumbs > li > a::before,
#navbar-breadcrumbs a,
.navbar .navbar-nav a.nav-link,
header .form-control {
    color: var(--white-color);
}
header .form-control:focus {
    background-color: var(--white-color) !important;
    border: 0;
}

/* Sidebar */
.layout-side-section .sidebar-label {
    color: var(--primary-color);
}
.sidebar-label svg,
.layout-side-section .sidebar-label .icon {
    stroke: var(--primary-color);
}
.list-sidebar-button {
    background-color: #c8c4c4 !important;
    box-shadow: none !important;
}
.list-sidebar-button:active,
.list-sidebar-button:focus {
    text-decoration: none !important;
    box-shadow: none !important;
}

/* Input */
input {
    border-radius: 0 !important;
}
.form-control {
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    background-color: #f2f2f2 !important;
}
.form-control:focus {
    outline: 0;
    border: 1px solid var(--primary-color);
    box-shadow: none;
    background: var(--input-focus-bg) !important;
}

/* Tabele */
.form-grid {
    border-radius: 0;
    border: 1px solid #bbbbbb;
}
.form-grid .grid-heading-row,
.datatable .dt-header .dt-cell--header .dt-cell__content {
    background-color: #f4f4f4;
}
.grid-heading-row {
    border-bottom: 1px solid var(--primary-color);
}
.grid-row > .row .col {
    border-right: 1px solid #d1d8dd;
}
.form-grid .grid-row:hover {
    background: var(--hover-color);
}

/* Naslovi i liste */
.head-title,
.form-section .section-head,
.form-dashboard-section .section-head,
.comment-box .comment-input-header {
    color: var(--primary-color);
}
.list-subject a {
    text-decoration: none;
    transition: 0.3s;
}
.list-subject a:hover {
    color: var(--secondary-color);
}
